.col-25{
    
    background-color: rgb(65, 3, 3);
}
.col-45{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:x-large;
    margin-top:8px;
    margin-left: 12px;
}
.banner{
    margin-top: 0cm;
    font-family: cursive;    
    background-image: url("https://elcierredigital.com/images/carpeta_relacionados/2019/06/04/md/5503_bowser.jpg") 
    
}
.banner01{
    color: rgb(253, 253, 253);
    font-family: cursive;
    font-size: 100px;
    background-size: 400px;
    margin-top: 0cm;
    background-size:100px;
    background-image: url("https://elcierredigital.com/images/carpeta_relacionados/2019/06/04/md/5503_bowser.jpg") 
    
}